img {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*P tags */
p.font1 {
    font-style: Apple Chancery, cursive;
}

p.fontSizeLarge {
    font-size: large;
}

p.fontSizeMed {
    font-size: medium;
}

/*Div tags*/
div.leftColumn {
    
    text-align: left;
    width: 500px;
}

div.rightColumn {
    text-align: right;
    width: 500px;
}

div.polaroid {
    border-radius: 8px;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.polaroid2 {
    border-radius: 8px;
    width: 480px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    border-radius: 8px;
    text-align: center;
    padding: 10px 10px;
}

/* class tags*/

.robotLeg{
    background: url(RoboticLeg/RobotLeg.png) no-repeat;
    background-size: 180px 320px;

}

.robotLeg:hover{
    background: url(RoboticLeg/RobotLeg.gif) no-repeat;
    background-size: 180px 320px;

}

.dish{
    background: url(RadarDish/dish.jpg) no-repeat;
    background-size: 180px 320px;

}

.dish:hover{
    background: url(RadarDish/Radar.gif) no-repeat;
    background-size: 180px 320px;

}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

