img {
    border-radius: 8%;
    object-fit: scale-down;
}

h1{
    font-size: 40px;
    object-position: center;
}

html {
    position: absolute;
    padding: 50px;
}
body  {
    margin: 10px auto;
    padding: 10px;
}
/*P tags */
p.font1 {
    font-style: Apple Chancery, cursive;
    padding: 5px auto;
}

p {
    padding: 10px auto;
}
/*Div tags*/

div.leftColumn {
    margin: 0 auto;
    text-align: left;
    width: 10vmin;
}

div.rightColumn {
    text-align: right;
    width: 10vmin;
}

div.polaroid {
    object-position: absolute;
    border-radius: 8px;

    width: fit-content;
    
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin: 0 auto; 
    padding: 50px ;
}

/* class tags*/
.catPics{
    width: 20em;
    height: 20em;
}

.boardGameImg{
    width: 20em;
    height: 20em;
}

.robotLeg{
    width: 20em;
    height: 40em;
    transition-duration: 0.4s;
    background: url(RoboticLeg/RobotLeg.png) no-repeat;
    background-size: 20em 40em;
    justify-items: center;

}

.robotLeg:hover{
    width: 20em;
    height: 40em;
    background: url(RoboticLeg/RobotLeg.gif) no-repeat;
    background-size: 20em 40em;
    justify-items: center;

}
.dishPic{
    display: block;
    padding: 10px auto;
    width: 20em;
    height: 20em;
}

.dish{
    width: 20em;
    height: 40em;
    transition-duration: 0.4s;
    background: url(RadarDish/dish.jpg) no-repeat;
    background-size: 20em 40em;

}

.dish:hover{
    width: 20em;
    height: 40em;
    background: url(RadarDish/Radar.gif) no-repeat;
    background-size: 20em 40em;

}

.row {
    display: flex;
}
  
.column {
    padding: 10px;
    margin: 100px auto;
    width: fit-content;
    height: fit-content;
}


.fontSizeLarge {
    font-size: 2em;
    color : white;
    stroke-width: 5px;
    text-shadow: black 0px 0px 2px; /* color offset-x offset-y blur-radius */
    
}

.fontSizeMed {
    font-size: 1em;
    border-color: black;
    color : white;
    text-shadow: black 0px 0px 2px; /* color offset-x offset-y blur-radius */
    stroke-width: 5px;
    padding: 25px 25px auto auto;
    margin: 25px auto; 

}

.James-Naeem_site {
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 10%;
}

.James-Naeem_site:hover {
    font-size: 40px;
    background-color: blue;
}