img {
    border-radius: 8%;
    object-fit: scale-down;
}

h1{
    font-size: 40px;
    object-fit: contain;
    object-position: center;
}

/*P tags */
p.font1 {
    font-style: Apple Chancery, cursive;
    padding: 5px auto;
}

/*Div tags*/

div.leftColumn {
    margin: 0 auto;
    text-align: left;
    width: 10vmin;
}

div.rightColumn {
    text-align: right;
    width: 10vmin;
}

div.polaroid {
    object-position: center;
    border-radius: 8px;
    min-width: 200px;
    width: fit-content;
    min-height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid2 {
    margin: auto auto;
    border-radius: 8px;
    width: 480px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

div.container {
    padding: 10vmin 10vmin;
}

/* class tags*/

.robotLeg{
    width: 80%;
    height: 80%;
    transition-duration: 0.4s;
    background: url(RoboticLeg/RobotLeg.png) no-repeat;
    background-size: 20% 80%;
    justify-items: center;

}

.robotLeg:hover{
    width: 80%;
    height: 80%;
    background: url(RoboticLeg/RobotLeg.gif) no-repeat;
    background-size: 20% 80%;
    justify-items: center;

}
.dishPic{
    width: 80%;
    height: 80%; 
}

.dish{
    width: 80%;
    height: 80%;
    object-position: center;
    transition-duration: 0.4s;
    background: url(RadarDish/dish.jpg) no-repeat;
    background-size: 20% 80%;

}

.dish:hover{
    width: 80%;
    height: 80%;
    object-position: center;
    background: url(RadarDish/Radar.gif) no-repeat;
    background-size: 20% 80%;

}

.row {
    display: flex;
}
  
.column {
    margin: 100px auto;
    width: 20vmin;
    height: 40vmin;
}


.fontSizeLarge {
    font-size: 30px;
    color : white;
    stroke-width: 5px;
    text-shadow: black 0px 0px 2px; /* color offset-x offset-y blur-radius */
    
}

.fontSizeMed {
    font-size: 15px;
    border-color: black;
    color : white;
    text-shadow: black 0px 0px 2px; /* color offset-x offset-y blur-radius */
    stroke-width: 5px;
    padding: 25px 25px auto auto;

}

.James-Naeem_site {
    font-size: 15px;
    transition-duration: 0.4s;
    border-radius: 10%;
}

.James-Naeem_site:hover {
    font-size: 40px;
    background-color: blue;
}